extends:
  - "eslint:recommended"
  - prettier
plugins:
  - "jsdoc"
env:
  browser: true
  es2020: true
  worker: true
  jquery: true
  serviceworker: true
globals:
  AutoNumeric: "readable"
  Papa: "readable"
  csv: "readable"
  parentElem: "readable"
  debounce: "readable"
  django: "readable"
  Turbolinks: "readable"
rules:
  array-callback-return: ["error"]
  arrow-body-style: ["error"]
  arrow-parens: ["error", "always"]
  arrow-spacing: ["error", {"before": true, "after": true}]
  block-scoped-var: ["error"]
  complexity: ["error", 7]
  consistent-return: ["error"]
  curly: ["error", "all"]
  default-case: ["error"]
  default-param-last: ["error"]
  generator-star-spacing: ["error", "before"]
  guard-for-in: ["error"]
  no-alert: ["error"]
  no-caller: ["error"]
  no-confusing-arrow: ["error", {"allowParens": true}]
  no-console: ["error"]
  no-constructor-return: ["error"]
  no-duplicate-imports: ["error"]
  no-else-return: ["error"]
  no-empty-function: ["error"]
  no-extra-label: ["error"]
  no-floating-decimal: ["error"]
  no-implicit-globals: ["error"]
  no-implied-eval: ["error"]
  no-invalid-this: ["error"]
  no-iterator: ["error"]
  no-labels: ["error"]
  no-lone-blocks: ["error"]
  no-loop-func: ["error"]
  no-multi-spaces: ["error"]
  no-multi-str: ["error"]
  no-new-func: ["error"]
  no-new: ["error"]
  no-octal-escape: ["error"]
  no-param-reassign: ["error"]
  no-proto: ["error"]
  no-restricted-globals: ["error"]
  no-restricted-imports: ["error"]
  no-restricted-properties: ["error"]
  no-return-assign: ["error"]
  no-return-await: ["error"]
  no-script-url: ["error"]
  no-self-compare: ["error"]
  no-shadow: ["error"]
  no-template-curly-in-string: ["error"]
  no-throw-literal: ["error"]
  no-undef-init: ["error"]
  no-undefined: ["error"]
  no-unmodified-loop-condition: ["error"]
  no-unused-expressions: ["error"]
  no-use-before-define: ["error"]
  no-useless-call: ["error"]
  no-useless-computed-key: ["error"]
  no-useless-concat: ["error"]
  no-useless-constructor: ["error"]
  no-useless-return: ["error"]
  no-var: ["error"]
  no-void: ["error"]
  prefer-arrow-callback: ["error"]
  prefer-const: ["error"]
  prefer-named-capture-group: ["error"]
  prefer-numeric-literals: ["error"]
  prefer-promise-reject-errors: ["error"]
  prefer-regex-literals: ["error"]
  prefer-rest-params: ["error"]
  prefer-spread: ["error"]
  prefer-template: ["error"]
  radix: ["error"]
  require-await: ["error"]
  require-unicode-regexp: ["error"]
  rest-spread-spacing: ["error", "never"]
  sort-imports: ["error"]
  strict: [2, "function"]
  symbol-description: ["error"]
  template-curly-spacing: ["error", "never"]
  vars-on-top: ["error"]
  wrap-iife: ["error", "inside"]
  yield-star-spacing: ["error", "before"]
  yoda: ["error"]
  camelcase: ["error", {"properties": "always"}]
  capitalized-comments: ["error", "always"]
  eol-last: ["error", "always"]
  max-depth: ["error", {"max": 4}]
  max-lines-per-function: ["error", {"max": 25, "skipBlankLines": true, "skipComments": true}]
  max-nested-callbacks: ["error", {"max": 3}]
  max-params: ["error", {"max": 6}]
  no-new-object: ["error"]
  no-tabs: ["error"]
  no-mixed-operators: ["error"]
  "jsdoc/check-access": ["error"]
  "jsdoc/check-alignment": ["error"]
  "jsdoc/check-indentation": ["error"]
  "jsdoc/check-param-names": ["error"]
  "jsdoc/check-property-names": ["error"]
  "jsdoc/check-tag-names": ["error"]
  "jsdoc/check-types": ["error"]
  "jsdoc/empty-tags": ["error"]
  "jsdoc/implements-on-classes": ["error"]
  "jsdoc/match-description": ["error"]
  "jsdoc/newline-after-description": ["error", "always"]
  "jsdoc/no-undefined-types": ["error"]
  "jsdoc/require-description-complete-sentence": ["error"]
  "jsdoc/require-file-overview": ["error"]
  "jsdoc/require-hyphen-before-param-description": ["error", "never"]
  "jsdoc/require-jsdoc": ["error", {"publicOnly": true}]
  "jsdoc/require-param-description": ["error"]
  "jsdoc/require-param-name": ["error"]
  "jsdoc/require-param-type": ["error"]
  "jsdoc/require-property-description": ["error"]
  "jsdoc/require-property-name": ["error"]
  "jsdoc/require-property-type": ["error"]
  "jsdoc/require-returns-check": ["error"]
  "jsdoc/require-returns-description": ["error"]
  "jsdoc/require-returns-type": ["error"]
  "jsdoc/require-returns": ["error"]
