[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
gunicorn = "*"
django = "*"
psycopg2 = "*"
django-environ = "*"
django-debug-toolbar = "*"
whitenoise = "*"
brotlipy = "*"
pdbpp = "*"
django-localflavor = "*"
django-lifecycle = "*"
social-auth-app-django = "*"
django-import-export = {git = "https://github.com/django-import-export/django-import-export.git"}
phonenumbers = "*"
djangorestframework = "*"
semantic-version = "*"
simplejson = "*"
pendulum = "*"
