[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8.2"

[packages]
gunicorn = "~=20.0.4"
whitenoise = "~=5.1.0"
brotlipy = "~=0.7.0"
psycopg2 = "~=2.8.5"
django = "~=3.1.12"
django-environ = "~=0.4.5"
django-localflavor = "~=3.0.1"
django-lifecycle = "~=0.7.6"
djangorestframework = "~=3.11.0"
social-auth-app-django = "~=3.4.0"
pendulum = "~=2.1.0"
phonenumbers = "~=8.12.5"
semantic-version = "~=2.8.5"
django-impersonate = "*"
sentry-sdk = "~=0.14.4"

[dev-packages]
django-debug-toolbar = "*"
pdbpp = "*"
ptvsd = "*"
pytest = "*"
pytest-django = "*"
black = "==19.10b0"
flake8 = "*"
pep8-naming = "*"
flake8-import-order = "*"
flake8-builtins = "*"
flake8-docstrings = "*"
flake8-rst-docstrings = "*"
flake8-eradicate = "*"
flake8-comprehensions = "*"
flake8-functions = "*"
flake8-cognitive-complexity = "*"
flake8-broken-line = "*"
flake8-bugbear = "*"
flake8-django = "*"
yamllint = "*"
