<meta name="description" content="Track your progress as you advance through the Web Dev courses on Learn the Web.">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="author" href="https://learn-the-web.algonquindesign.ca/humans.txt">
<link rel="manifest" href="https://learn-the-web.algonquindesign.ca/manifest.webmanifest">

<link href="https://learn-the-web.algonquindesign.ca/fonts/alegreyasans-regular.woff" rel="preload" as="font">
<link href="https://learn-the-web.algonquindesign.ca/fonts/alegreyasans-italic.woff" rel="preload" as="font">
<link href="https://learn-the-web.algonquindesign.ca/fonts/alegreyasans-bold.woff" rel="preload" as="font">
<link href="https://learn-the-web.algonquindesign.ca/fonts/sourcecodepro-regular.woff" rel="preload" as="font">
<link href="https://learn-the-web.algonquindesign.ca/fonts/sourcecodepro-bold.woff" rel="preload" as="font">

<link rel="shortcut icon" href="https://learn-the-web.algonquindesign.ca/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/public/core/favicon-152.png">
<meta name="msapplication-TileImage" content="https://learn-the-web.algonquindesign.ca/favicon-144.png">
<meta name="msapplication-TileColor" content="#00deae">

<link rel="profile" href="http://osprotocol.com">
<meta property="os:repo" content="https://github.com/acgd-learn-the-web">
<meta property="os:rcs_type" content="git">
<meta property="os:src" content="git@github.com:acgd-learn-the-web/progressinator.git">
<meta property="os:issue" content="https://github.com/acgd-learn-the-web/progressinator/issues">
<link rel="license" href="https://github.com/acgd-learn-the-web/acgd-learn-the-web.github.io/blob/master/LICENSE">
<link rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">
<link rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">

<meta name="application-name" content="Progress · Learn the Web">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_CA">
<meta property="og:title" content="Progress · Learn the Web">
<meta property="og:url" content="https://progress.learn-the-web.algonquindesign.ca/">
<meta property="og:image" content="https://progress.learn-the-web.algonquindesign.ca/favicon-152.png">
<meta property="og:site_name" content="Learn the Web">
<meta property="og:description" content="Track your progress as you advance through the Web Dev courses on Learn the Web.">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@algonquindesign">
<meta name="twitter:title" content="Progress · Learn the Web">
<meta name="twitter:url" content="https://progress.learn-the-web.algonquindesign.ca/">
<meta name="twitter:description" content="Track your progress as you advance through the Web Dev courses on Learn the Web.">
<meta name="twitter:image" content="https://progress.learn-the-web.algonquindesign.ca/favicon-152.png">

<link href="https://learn-the-web.algonquindesign.ca/css/main.min.css?v=progressinator/{{app_version}}" rel="stylesheet">
<link href="https://learn-the-web.algonquindesign.ca/css/main-topics.min.css?v=progressinator/{{app_version}}" rel="stylesheet">
<link href="https://learn-the-web.algonquindesign.ca/css/main-course.min.css?v=progressinator/{{app_version}}" rel="stylesheet">
