{% extends 'default.html' %}

{% load data %}
{% load grades %}

{% block wrapper %}
  <div class="grid">
    <div class="class unit [ xs-1 s-1 m-1 l-3-5 ] pad-b">
      <section class="class-desc section-lightest gutter-1-2 pad-t-1-2 pad-b-1-2">
        <h2 class="class-heading push-1-2 giga">Grade overview <a class="right normal italic" href="{{course.data.url}}">{{course.data.title}} »</a></h2>
        <dl class="grid push-1-2">
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">Grade avg</dt>
            <dd class="push-0 yotta bold brand-dark">{{stats_grade_avg | grade_as_letter}}</dd>
          </div>
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">Actual avg</dt>
            <dd class="push-0 yotta bold brand-dark">{{stats_actual_avg | pretty_percent_small}}</dd>
          </div>
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">Max avg</dt>
            <dd class="push-0 yotta brand-dark">{{stats_max_avg | pretty_percent_small}}</dd>
          </div>
          <div class="unit [ xs-1-2 m-2-5 ]">
            <dt class="italic milli">Status avg</dt>
            <dd class="push-0 yotta bold brand-dark">{{stats_grade_avg | grade_as_status}}</dd>
          </div>
        </dl>
        <hr class="hr-brand-light push-1-2">
        <dl class="grid">
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">№ students</dt>
            <dd class="push-0 milli bold"><strong>{{students | length}}</strong></dd>
          </div>
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">№ excellent</dt>
            <dd class="push-0 milli color-pass-dark bold">{{stats_grade_status.Excellent}}</dd>
          </div>
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">№ satisfactory</dt>
            <dd class="push-0 milli color-pass-dark bold">{{stats_grade_status.Satisfactory}}</dd>
          </div>
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">№ weak</dt>
            <dd class="push-0 milli color-warning-dark bold">
              {{stats_grade_status.Weak}}
              <i class="icon i-1-2"><svg><use xlink:href="#icon-grade-avg-weak"></use></svg></i>
            </dd>
          </div>
          <div class="unit [ xs-1-2 m-1-5 ]">
            <dt class="italic milli">№ failing</dt>
            <dd class="push-0 milli color-fail-dark bold">
              {{stats_grade_status.Failing}}
              <i class="icon i-1-2"><svg><use xlink:href="#icon-grade-avg-failing"></use></svg></i>
            </dd>
          </div>
        </dl>
      </section>
      <section class="class-desc gutter-1-2 pad-t-1-2">
        <div class="relative">
          <h2 class="class-heading push-1-2 giga">Students</h2>
          <div class="pin-rc italic milli" aria-role="toolbar" aria-label="Group by section" aria-controls="student-sections">
            <ol class="course-section-list list-group-inline push-0">
              <li><a class="course-section-btn btn btn-invisible" data-course-section="all" aria-pressed="true" href="#">All</a></li>
              {% for section in course.data.assessments.1.due_dates %}
                <li><a class="course-section-btn btn btn-invisible" data-course-section="{{section.course_section}}" aria-pressed="false" href="#{{section.course_section}}">{{section.course_section}}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div>
        <div class="grade-statuses-scroll scrollable">
          <table class="grade-statuses push-0">
            <thead>
              <tr>
                <th scope="col" colspan="8">Name</th>
                <th scope="col" colspan="2">Grade</th>
                <th scope="col" colspan="3">Actual</th>
                <th scope="col" colspan="3">Max</th>
                <th scope="col" colspan="3">Status</th>
                <th scope="col" colspan="5">GitHub</th>
              </tr>
            </thead>
            <tbody id="student-sections">
              {% for student in students %}
                <tr class="grade-status-{{student.current_grade_average | grade_as_status_fine_grained | slugify}}" data-course-section="{{student.current_section}}">
                  <th class="grade-item-name" scope="row" colspan="8">
                    <a href="{% url 'core:teacher_user_grades' term_id=course.term.slug course_id=course.data.course user_id=student.user.id %}">{{student.user.last_name}}, {{student.user.first_name}}</a>
                    <a class="icon i-1-2 link-box-no-mark color-grey" href="mailto:{{student.user.email}}"><svg><use xlink:href="#icon-mail"></use></svg></a>
                  </th>
                  <td class="grade-item-grade color-pass-dark" colspan="2">
                    <strong title="{{student.current_grade_average | pretty_percent_small}}">{{student.current_grade_average | grade_as_letter}}</strong>
                    {% if student.current_grade_average < .6 %}
                      <i class="grade-item-grade-icon icon i-1-2"><svg><use xlink:href="#icon-grade-avg-{{student.current_grade_average | grade_as_status_fine_grained | slugify}}"></use></svg></i>
                    {% endif %}
                  </td>
                  <td class="color-grey-dark" colspan="3"><span class="{% if student.current_grade_max > .65 and student.current_grade < .5 %}grade-actual-highlight-low{% endif %}">{{student.current_grade | pretty_percent_small}}</span></td>
                  <td class="color-grey" colspan="3">{{student.current_grade_max | pretty_percent_small}}</td>
                  <td class="milli italic" colspan="3">{{student.current_grade_average | grade_as_status}}</td>
                  <td class="milli" colspan="5">
                    <a href="https://github.com/{{student.user.username}}" rel="external">{{student.user.username}}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% if students %}
            <ul class="list-group-inline pad-t-1-2 push-0 italic week-list-tasks">
              <li class="week-list-task-no-sep color-grey-dark push-r-1-4" aria-label="Email students…"><i class="icon i-3-4"><svg><use xlink:href="#icon-mail"></use></svg></i></li>
              <li class="pad-t-1-8"><a href="mailto:?bcc={% for student in students %}{{student.user.email}}{% if not forloop.last %},{% endif %}{% endfor %}">Email everybody</a></li>
              <li class="pad-t-1-8"><a href="mailto:?bcc={% for student in students %}{% if student.current_grade >= .5 %}{{student.user.email}}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}">Email passing students</a></li>
              <li class="pad-t-1-8"><a href="mailto:?bcc={% for student in students %}{% if student.current_grade < .5 %}{{student.user.email}}{% if not forloop.last %},{% endif %}{% endif %}{% endfor %}">Email failing students</a></li>
            </ul>
          {% else %}
            <strong class="block pad-t-1-2 giga">No students registered in this course for the term.</strong>
          {% endif %}
        </div>
      </section>
    </div>
    <div class="class class-outside unit [ xs-1 s-1 m-1 l-2-5 ] pad-b">
      <section class="class-desc section-muted-medium gutter-1-2 pad-t-1-2 pad-b-1-2">
        <h2 class="class-heading push-1-2 giga">Assessment overview <a class="right normal italic" href="{{course.data.url}}#marking-scheme">Grade scheme »</a></h2>
        <dl class="grid push-1-2">
          <div class="unit [ xs-1-2 m-1-2 ]">
            <dt class="italic milli">№ assessments</dt>
            <dd class="push-0 yotta bold">{{stats_assessments_no_zeros}} <span class="color-grey-dark not-bold">({{stats_assessments_total}})</span></dd>
          </div>
          <div class="unit [ xs-1-2 m-1-2 ]">
            <dt class="italic milli">Pass rate avg</dt>
            <dd class="push-0 yotta bold">{{stats_pass_rate_avg | pretty_percent_small}}</dd>
          </div>
        </dl>
        <hr class="hr-dark push-1-2">
        <dl class="grid">
          <div class="unit [ xs-1-3 m-1-5 l-1-5 ]">
            <dt class="italic milli">№&nbsp;videos</dt>
            <dd class="push-0 milli"><span class="bold">{{course.data.totals.videos}}</span> × {{course.data.totals.videos_each_algonquin | pretty_percent_small}}</dd>
          </div>
          <div class="unit [ xs-1-3 m-1-5 l-1-5 ]">
            <dt class="italic milli">№&nbsp;activities</dt>
            <dd class="push-0 milli"><span class="bold">{{course.data.totals.activities}}</span> × {{course.data.totals.activities_each_algonquin | pretty_percent_small}}</dd>
          </div>
          <div class="unit [ xs-1-3 m-1-5 l-1-5 ]">
            <dt class="italic milli">№&nbsp;lessons</dt>
            <dd class="push-0 milli"><span class="bold">{{course.data.totals.activities}}</span> × {{course.data.totals.activities_each_algonquin | pretty_percent_small}}</dd>
          </div>
          <div class="unit [ xs-1-3 m-1-5 l-1-5 ]">
            <dt class="italic milli">№&nbsp;exercises</dt>
            <dd class="push-0 milli"><span class="bold">{{course.data.totals.exercises}}</span> × {{course.data.totals.exercises_each_algonquin | pretty_percent_small}}</dd>
          </div>
          <div class="unit [ xs-1-3 m-1-5 l-1-5 ]">
            <dt class="italic milli">№&nbsp;projects</dt>
            <dd class="push-0 milli"><span class="bold">{{course.data.totals.projects}}</span> × {{course.data.totals.projects_each_algonquin | pretty_percent_small}}</dd>
          </div>
        </dl>
      </section>
      <section class="class-desc gutter-1-2 pad-t-1-2">
        <h2 class="class-heading push-1-2 giga">Assessments</h2>
        <div class="assessment-statuses-scroll scrollable">
          <table class="assessment-statuses push-0">
            <thead>
              <tr>
                <th scope="col" colspan="11">Name</th>
                <th scope="col" colspan="4">Type</th>
                <th scope="col" colspan="4">Worth</th>
                <th scope="col" colspan="5">Pass rate</th>
              </tr>
            </thead>
            <tbody>
              {% for item in course.data.assessments %}
                <tr>
                  <th scope="row" colspan="11">
                    {% if item.assessment_each_algonquin == 0 %}
                      <a class="not-bold" href="#">{{item.name}}</a>
                    {% else %}
                      <a href="#">{{item.name}}</a>
                    {% endif %}
                  </th>
                  <td class="milli color-grey" colspan="4">{{item.assessment_type | title}}</td>
                  <td class="color-grey" colspan="4">≈{{item.assessment_each_algonquin | pretty_percent_small}}</td>
                  <td colspan="5">{{item.total_students_pass_rate | pretty_percent_small}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

  <script>
    const courseSectionBtnList = document.querySelector('.course-section-list');

    courseSectionBtnList.addEventListener('click', (e) => {
      if (e.target.dataset.courseSection) {
        document.querySelector('.course-section-btn[aria-pressed="true"]').setAttribute('aria-pressed', false);
        e.target.setAttribute('aria-pressed', true);

        [].forEach.call(document.querySelectorAll('#student-sections tr[data-course-section]'), (elem) => {
          elem.hidden = false;
          elem.removeAttribute('aria-hidden');
        });

        if (e.target.dataset.courseSection !== 'all') {
          [].forEach.call(document.querySelectorAll(`#student-sections tr:not([data-course-section="${e.target.dataset.courseSection}"])`), (elem) => {
            elem.hidden = true;
            elem.setAttribute('aria-hidden', true);
          });
        }
      }
    });

    window.addEventListener('load', (e) => {
      if (window.location.hash) {
        const btn = courseSectionBtnList.querySelector(`a[href="${window.location.hash}"]`);
        if (btn) btn.click();
      }
    });
  </script>
{% endblock %}
