{% extends 'default.html' %}

{% load tz %}
{% load static %}
{% load data %}
{% load grades %}

{% block wrapper %}

  {% if allow_grade_editing and user.is_staff %}
    {% include 'next-prev-nav.html' with show_sections=True %}
  {% endif %}

  <div class="grid">
    <div class="class unit [ xs-1 s-1 m-2-5 ] pad-b-1-2 {% if not allow_grade_editing or not user.is_staff %}pad-t-1-2{% endif %}">
      {% if allow_grade_editing and user.is_staff %}
        {% include 'grade-details.html' with title=student_details.full_name email_link=student_profile.user.email details_url=student_details.github_url details_text=student_profile.user.username course_extra=student_profile.current_section link_course_extra=True %}
      {% endif %}
      <section class="class-desc gutter-1-2">
        <h2 class="class-heading push giga">Grade</h2>
        <dl class="grid push">
          <div class="unit [ xs-1-2 s-1-2 m-1 l-1-2 ] brand-dark relative">
            <dt class="giga italic absolute pin-lb">Actual grade</dt>
            <dd class="tenamega bold">{{current_grade | pretty_percent_small}}</dd>
          </div>
          {% if current_grade_max %}
            <div class="unit [ xs-1-2 s-1-2 m-1 l-1-2 ] brand-dark relative">
              <dt class="giga color-grey italic absolute pin-lb">of course completed</dt>
              <dd class="tenamega color-grey">{% if current_grade_max >= 1 %}{{current_grade_max | pretty_percent_strip}}{% else %}{{current_grade_max | pretty_percent_small}}{% endif %}</dd>
            </div>
          {% endif %}
        </dl>
        {% if current_grade_average %}
          <strong class="tera ib push color-grey pad-b-1-2">
            <span class="not-bold italic">Projected grade:</span>
            <span class="brand-dark grade-projected-{{current_grade_average | grade_as_status | slugify}}">
              {% if current_grade_average < .6 %}
                <i class="grade-item-grade-icon icon i-1-2"><svg><use xlink:href="#icon-grade-avg-{{current_grade_average | grade_as_status | slugify}}"></use></svg></i>
              {% endif %}
              {{current_grade_average | grade_as_letter}}
            </span>
            (<span class="not-bold italic color-grey-dark">{{current_grade_average | grade_as_status}}</span>)
          </strong>
        {% endif %}
        <hr class="push-1-2">
        <h3 class="mega not-bold push-1-4">Marking scheme</h3>
        <dl class="marking-scheme list-group-inline milli color-grey-dark">
          <dt class="push-0">Videos</dt>
          <dd class="push-0">
            <strong class="marking-scheme-amount">{{course.data.grading_scheme_algonquin.videos | pretty_percent_strip}}</strong>
            <span class="nano">(<span class="marking-scheme-total">{{course.data.totals.videos}}</span> @ <data value="{{course.data.totals.videos_each_algonquin | times:100}}%" title="{{course.data.totals.videos_each_algonquin | times:100}}%">≈{{course.data.totals.videos_each_algonquin | pretty_percent_small}}</data> each)</span>
          </dd>
          <dt class="push-0">Activities</dt>
          <dd class="push-0">
            <strong class="marking-scheme-amount">{{course.data.grading_scheme_algonquin.activities | pretty_percent_strip}}</strong>
            <span class="nano">(<span class="marking-scheme-total">{{course.data.totals.activities_plus_lessons}}</span> @ <data value="{{course.data.totals.activities_plus_lessons_each_algonquin | times:100}}%" title="{{course.data.totals.activities_plus_lessons_each_algonquin | times:100}}%">≈{{course.data.totals.activities_plus_lessons_each_algonquin | pretty_percent_small}}</data> each)</span>
          </dd>
          <dt class="push-0">Exercises</dt>
          <dd class="push-0">
            <strong class="marking-scheme-amount">{{course.data.grading_scheme_algonquin.exercises | pretty_percent_strip}}</strong>
            <span class="nano">(<span class="marking-scheme-total">{{course.data.totals.exercises}}</span> @ <data value="{{course.data.totals.exercises_each_algonquin | times:100}}%" title="{{course.data.totals.exercises_each_algonquin | times:100}}%">≈{{course.data.totals.exercises_each_algonquin | pretty_percent_small}}</data> each)</span>
          </dd>
          <dt class="push-0">Projects</dt>
          <dd class="push-0">
            <strong class="marking-scheme-amount">{{course.data.grading_scheme_algonquin.projects | pretty_percent_strip}}</strong>
            <span class="nano">(<span class="marking-scheme-total">{{course.data.totals.projects}}</span> @ <data value="{{course.data.totals.projects_each_algonquin | times:100}}%" title="{{course.data.totals.projects_each_algonquin | times:100}}%">≈{{course.data.totals.projects_each_algonquin | pretty_percent_small}}</data> each)</span>
          </dd>
        </dl>
        <hr>
        <div class="course-email-links relative">
          <h3 class="color-grey-dark pin-lc" aria-label="Download grades…"><i class="icon i-3-4"><svg><use xlink:href="#icon-down"></use></svg></i></h3>
          <ul class="list-group-inline push-0 italic week-list-tasks">
            <li class="pad-t-1-8"><a href="{% url 'core:user_grades_download' term_id=term.slug course_id=course.slug user_id=student_user_id %}" download="{{student_profile.user.last_name}}-{{student_profile.user.first_name}}-{{course.slug}}-{{term.slug}}.csv">Download grades</a></li>
          </ul>
        </div>
      </section>
    </div>

    <section class="class class-outside unit [ xs-1 s-1 m-3-5 ] gutter-1-4 pad-t-1-2 pad-b-1-4">
      <div class="class-desc gutter-1-4">
        <h2 class="class-heading push-1-2 giga">Assessments</h2>
        {% if allow_grade_editing and perms.progress_core.change_userprogress %}
          <form method="post" id="grades-form" action="{% url 'core:teacher_user_grades_save' term_id=course.term.slug course_id=course.slug user_id=student_profile.user_id %}">
            {% include 'edit-grades-toolbar.html' %}
        {% endif %}
          <ol class="assessment-list list-group push-0">
            {% for item in course.data.assessments %}
              <li class="assessment-item relative push-1-2 {% if item.user_due_date_algonquin < today %}assessment-item-past-due{% else %}assessment-item-pre-due pad-t-1-2{% endif %}">
                {% include 'grade-item.html' with grade_item=item user_id=student_profile.user_id %}
              </li>
            {% endfor %}
          </ol>
        {% if allow_grade_editing and perms.progress_core.change_userprogress %}
          {% csrf_token %}
          </form>
        {% endif %}
      </div>
    </section>
  </div>

  {% if allow_grade_editing and user.is_staff %}
    <script>
      const allStudentsIds = [
        {% for student in all_students %}
          {
            id: {{student.user_id}},
            name: "{{student.user.last_name}}, {{student.user.first_name}}",
            section: "{{student.current_section}}",
          },
        {% endfor %}
      ];
      const currentStudentId = {{student_profile.user.id}};
      const currentCourseSlug = '{{course.slug}}';
    </script>
    <script src="{% static 'core/main.min.js' %}"></script>
  {% endif %}
{% endblock %}
