{% extends 'default.html' %}

{% block wrapper %}
  <div class="grid">
    <section class="class unit [ xs-1 s-1 m-1-2 ] gutter-1-4 pad-t-1-2 pad-b">
      <div class="class-desc gutter-1-4">
        <h2 class="class-heading push-1-2 giga">Progressinator API</h2>
        <p class="push-1-4">Use this API Token for submitting assessments.</p>
        <label for="api-token" class="giga push-1-2"><strong>Copy &amp; paste this token into Markbot.</strong></label>
        <input class="tera push-1-2 island-1-2" readonly value="{{api_token}}" id="api-token">
        <p class="milli push-0"><em>This token should be considered like a password—it should not be shared or transmitted openly.</em></p>
      </div>
    </section>
    <section class="class section-lightest unit [ xs-1 s-1 m-1-2 ] gutter-1-4 pad-t-1-2 pad-b">
      <div class="class-desc gutter-1-4">
        <h2 class="class-heading giga push-1-2">Algonquin College registration</h2>
        <dl class="mega push-0">
          <dt class="italic milli">Name (from GitHub)</dt>
          <dd class="push-1-2">{{first_name}} {{last_name}}</dd>
          <dt class="italic milli">Email address (from GitHub)</dt>
          <dd class="push-1-2"><a href="mailto:{{email}}">{{email}}</a></dd>
          {% if current_section %}
            <dt class="italic milli">Currently registered course</dt>
            <dd class="push-1-2">
              <a href="https://learn-the-web.algonquindesign.ca/courses/{{current_course.slug}}/">{{current_course.data.title}} ({{current_course.data.course_code}})</a> ({{current_section}})
              <p class="push-0 micro italic">If this information is incorrect, please <a href="mailto:{{current_course.data.professors.0.email}}">contact your teacher</a>.</p>
            </dd>
          {% endif %}
        </dl>
        {% if not current_section %}
          <form method="post" action="{% url 'core:profile_save' %}">
            <label class="block push-1-4 bold" for="select-current-section">Select your <strong class="italic">{{current_term.name}}</strong> Algonquin course &amp; section</label>
            <select class="push-1-4" id="select-current-section" name="current_section" required>
              <option value="">Select a course &amp; section</option>
              {% for course in all_courses %}
                <optgroup label="{{course.data.title}}">
                  {% for sect in course.data.sections %}
                    <option value="{{course.id}}::{{sect.title}}">{{course.data.title}} — {{sect.title}}</option>
                  {% endfor %}
                </optgroup>
              {% endfor %}
            </select>
            <p class="push-1-2 milli italic">If you are a currently registered in a Algonquin College Web Design course, use this to select your section, for due dates, &amp; to show in the teacher’s class lists.</p>
            <button class="btn milli" type="submit">Save course &amp; section</button>
            {% for hidden in FORM.hidden_fields %}{{hidden}}{% endfor %}
            {% csrf_token %}
          </form>
        {% endif %}
      </div>
    </section>
  </div>

  <div class="grid">
    <section class="class unit [ xs-1 s-1 m-1-2 ] gutter-1-4 pad-t-1-2 class-outside pad-b">
      <div class="class-desc gutter-1-4">
        <h2 class="class-heading push-1-2 giga">GitHub account</h2>
        <p class="max-length not-centered push-1-4 italic">Your Progressinator account is associated with your GitHub account.</p>
        <dl class="list-group-inline">
          <dt>Username</dt>
          <dd class="push-0"><a href="https://github.com/{{username}}" rel="external">{{username}}</a></dd>
          <dt>Repositories</dt>
          <dd class="push-0"><a href="https://github.com/{{username}}?tab=repositories" rel="external">{{username}}’s repos</a></dd>
        </dl>
        <a class="btn mega" href="{% url 'core:sign_out' %}">Sign out</a>
      </div>
    </section>
    <section class="class unit [ xs-1 s-1 m-1-2 ] gutter-1-4 pad-t-1-2 section-muted-medium pad-b">
      <div class="class-desc gutter-1-4">
        <h2 class="class-heading push-1-2 giga">Progressinator account</h2>
        <p><strong>Danger Zone!</strong> Deleting your account cannot be undone. <em>All of your grades will be permanently erased.</em></p>
        <strong>This feature is not currently implemented.</strong>
        {# <a class="btn milli btn-danger" href="#">Delete account</a> #}
      </div>
    </section>
  </div>

{% endblock %}
