.btn-danger {
  background-color: var(--color-fail);
  border-color: var(--color-fail);
  color: #fff;
}

.btn-danger:hover {
  background-color: var(--color-fail-dark);
  border-color: var(--color-fail-dark);
  color: #fff;
}

.section-lightest .class-heading {
  border-color: #25796e;
}

.section-muted-medium .class-heading {
  border-color: #63666a;
}

.marking-scheme {

}

.marking-scheme-total {
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

.marking-scheme-amount {
  display: inline-block;
  width: 2.2em;
  text-align: right;
}

.assessment-item {
  padding-left: 1.4em;
  position: relative;
}

.assessment-title .icon {
  position: absolute;
  left: 0;
  top: .2em;
}

.assessment-details {
  line-height: 1.4;
}

.assessment-details summary {
  position: relative;
  list-style-type: none;
}

.assessment-details > summary::-webkit-details-marker {
  display: none;
}

.assessment-details summary::before {
  content: " ";
  position: absolute;
  left: -.9em;
  height: .8em;
  width: .8em;
  top: .25em;

  background: inline("../img-embed/details-triangle.svg") no-repeat center center / contain transparent;

  list-style-type: none;
}

.assessment-details[open] summary::before {
  background-image: inline("../img-embed/details-triangle-open.svg");
}

.assessment-details-comments {
  margin-left: .2em;
  padding-left: .4em;
  border-left: .15em solid #d9d8e3;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#api-token {
  padding: .2em .4em;
  height: auto;
}

.grade-statuses {
  min-width: 36em;
}

.grade-status-failing {

}

.grade-item-grade-icon {
  transform: translateY(-.1em) scale(.8);
}

.grade-projected-excellent,
.grade-projected-satisfactory {
  color: var(--color-pass-dark);
}

.grade-projected-weak,
.grade-status-weak .grade-item-grade {
  color: var(--color-warning-dark);
}

.grade-projected-failing,
.grade-status-failing .grade-item-grade {
  color: var(--color-fail-dark);
}

.assessment-statuses {
  min-width: 24em;
}

.grade-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: rgba(255, 255, 255, .6);
  border: .15em solid #d9d8e3;
  border-radius: .2em;
}

.grade-form:focus-within {
  background-color: #fff;
}

.grade-form label {
  padding: 0 .5em;
  font-style: italic;
}

.grade-form input[type="text"],
.grade-form input[type="number"],
.grade-form select,
.grade-form textarea {
  background-color: transparent;
  border: 0;
  /*width: auto;*/
}

.grade-form input[type="text"]:focus ,
.grade-form input[type="number"]:focus ,
.grade-form select:focus,
.grade-form textarea:focus {
  border: 0;
  outline: 0;
}

.grade-form select {
  flex-grow: 1;
}

.grade-form textarea {
  width: 100%;
}

.grade-form-item,
.grade-form-comment {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  border-radius: .2em;
}

.grade-form-item:focus-within,
.grade-form-comment:focus-within {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .6);
  z-index: 10;
}

.grade-form-item-grade {
  width: 30%;
}

.grade-form-item-excuse-lateness {
  width: 70%;
}

.grade-form-item-grade input {
  width: 4em;
  flex-grow: 1;
  font-weight: bold;
  font-size: 140%;
}

.grade-form-item-checkbox label {
  display: flex;
  align-items: center;
}

.grade-form-item-checkbox label::before {
  transform: scale(.7);
  border-radius: .2em;
  border-width: .2em;
  border-color: #63666a;
}

.grade-form-comment {
  width: 100%;
}

.grade-form-sep {
  width: 100%;
  margin: 0;
  border-top: .15em solid #d9d8e3;
}

.grade-form-actions {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  background-color: #00675a;
}

.grade-form-actions .btn[disabled] {
  opacity: .7;
  pointer-events: none;
}

.course-section-list {

}

.course-section-btn {
  color: #4484c2;
  border-bottom: .15em solid #fff;
}

.course-section-btn[aria-pressed="true"] {
  border-color: currentcolor;
}

@media only screen and (min-width: 80em) {

  .grade-statuses-scroll,
  .assessment-statuses-scroll {
    overflow: visible;
  }

}
