.section-lightest .class-heading {
  border-color: #25796e;
}

.marking-scheme {

}

.marking-scheme-total {
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

.marking-scheme-amount {
  display: inline-block;
  width: 2.2em;
  text-align: right;
}

#api-token {
  padding: .2em .4em;
  height: auto;
}
