.btn-danger {
  background-color: var(--color-fail);
  border-color: var(--color-fail);
  color: #fff;
}

.btn-danger:hover {
  background-color: var(--color-fail-dark);
  border-color: var(--color-fail-dark);
  color: #fff;
}

.btn-edit-single-grade {
  display: inline;
  padding: 0;
  border-bottom: 0.15em solid color(#000 alpha(20%));
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.2;
}

.btn-edit-single-grade:hover {
  color: #4484c2;
  border-color: #4484c2;
}

.btn-invisible-bright {
  color: rgba(255, 255, 255, 0.8);
  margin-right: 0.5em;
  padding: 0;
  border-bottom: 0.15em solid color(#fff alpha(20%));
  line-height: 1.2;
}

.btn-invisible-bright:hover {
  color: #fff;
  border-color: #fff;
}

.section-lightest .class-heading {
  border-color: #25796e;
}

.section-muted-medium .class-heading {
  border-color: #63666a;
}

.marking-scheme-total {
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

.marking-scheme-amount {
  display: inline-block;
  width: 2.2em;
  text-align: right;
}

.assessment-item-content {
  padding-left: 1.4em;
}

.assessment-item-past-due + .assessment-item-pre-due {
  border-top: 0.2em dotted #63666a;
}

.assessment-item-past-due + .assessment-item-pre-due::before {
  content: "Today";
  left: 50%;
  margin: 0;
  padding: 0.2em 1em;
  position: absolute;
  top: -1em;
  width: auto;
  background-color: #f5f2f0;
  transform: translateX(-50%);
  color: #63666a;
  font-size: 60%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.assessment-item-pre-due + .assessment-item-pre-due {
  padding-top: 0;
}

.assessment-title .icon {
  position: absolute;
  left: 0;
  top: 0.2em;
}

.assessment-details {
  line-height: 1.4;
}

.assessment-details summary {
  position: relative;
  list-style-type: none;
}

.assessment-details > summary::-webkit-details-marker {
  display: none;
}

.assessment-details summary::before {
  content: " ";
  position: absolute;
  left: -0.9em;
  height: 0.8em;
  width: 0.8em;
  top: 0.25em;
  background: inline("../img-embed/details-triangle.svg") no-repeat center center /
    contain transparent;
  list-style-type: none;
}

.assessment-details[open] summary::before {
  background-image: inline("../img-embed/details-triangle-open.svg");
}

.assessment-details-comments {
  margin-left: 0.2em;
  padding-left: 0.4em;
  border-left: 0.15em solid #d9d8e3;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#api-token {
  padding: 0.2em 0.4em;
  height: auto;
}

.grade-statuses {
  min-width: 36em;
}

.grade-statuses tr:hover,
.assessment-statuses tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.grade-item-grade-icon {
  transform: translateY(-0.1em) scale(0.8);
}

.grade-projected-excellent,
.grade-projected-satisfactory {
  color: var(--color-pass-dark);
}

.grade-projected-weak,
.grade-status-weak .grade-item-grade {
  color: var(--color-warning-dark);
}

.grade-projected-failing,
.grade-status-failing .grade-item-grade {
  color: var(--color-fail-dark);
}

.grade-projected-failing-close,
.grade-status-failing-close .grade-item-grade {
  color: var(--color-fail-close-dark);
}

.grade-actual-highlight-low {
  border-bottom: 0.05em dotted var(--color-fail-dark);
}

.assessment-statuses {
  min-width: 24em;
}

.grade-form-wrap fieldset {
  border: 0;
}

.grade-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.15em solid #d9d8e3;
  border-radius: 0.2em;
}

.grade-form:focus-within {
  background-color: #fff;
}

.grade-form label {
  padding: 0 0.5em;
  font-style: italic;
}

.grade-form input[type="text"],
.grade-form input[type="number"],
.grade-form select,
.grade-form textarea {
  background-color: transparent;
  border: 0;
}

.grade-form input[type="text"]:focus,
.grade-form input[type="number"]:focus,
.grade-form select:focus,
.grade-form textarea:focus {
  border: 0;
  outline: 0;
}

.grade-form select {
  flex-grow: 1;
}

.grade-form textarea {
  width: 100%;
  resize: vertical;
}

.grade-form-item,
.grade-form-comment {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  border-radius: 0.2em;
}

.grade-form-item:focus-within,
.grade-form-comment:focus-within {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.grade-form-item-grade {
  width: 30%;
}

.grade-form-item-excuse-lateness {
  width: 70%;
}

.grade-form-item-grade input {
  width: 4em;
  flex-grow: 1;
  font-weight: bold;
  font-size: 140%;
}

.grade-form-item-checkbox label {
  display: flex;
  align-items: center;
}

.grade-form-item-checkbox label::before {
  transform: scale(0.7);
  border-radius: 0.2em;
  border-width: 0.2em;
  border-color: #63666a;
}

.grade-form-comment {
  width: 100%;
}

.grade-form-sep {
  width: 100%;
  margin: 0;
  border-top: 0.15em solid #d9d8e3;
}

.grade-form-actions {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #00675a;
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.3);
}

.grade-form-actions .btn[disabled] {
  opacity: 0.7;
  pointer-events: none;
}

.grade-actions-default {
  display: flex;
  align-items: center;
  color: #fff;
}

#grade-actions-default {
  width: 3em;
  border-radius: 0.2em;
  border: 0;
  color: #000;
}

.course-section-btn {
  color: #4484c2;
  border-bottom: 0.15em solid #fff;
}

.course-section-btn-muted {
  border-bottom-color: #dfdcda;
}

.course-section-btn:focus {
  position: relative;
  z-index: 10;
}

.course-section-btn[aria-pressed="true"] {
  border-color: currentColor;
}

.course-email-links {
  padding-left: 2em;
}

@media only screen and (min-width: 80em) {
  .grade-statuses-scroll,
  .assessment-statuses-scroll {
    overflow: visible;
  }
}

.student-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-controls-list {
  display: none;
  width: 18em;
}

.student-controls-list select {
  background-color: transparent;
  border-color: #a8a6af;
}

.student-controls-list select:hover {
  border-color: #000;
}

.student-controls-section {
  display: none;
}

.student-controls-prev {
  margin-left: auto;
}

.student-controls-course {
  display: none;
}

@media only screen and (min-width: 38em) {
  .student-controls-list {
    display: block;
  }

  .student-controls-course {
    display: block;
  }
}

@media only screen and (min-width: 50em) {
  .student-controls-section {
    display: block;
  }
}

.progress-meter {
  display: none;
  height: 5rem;
  width: 5rem;
}

@media only screen and (min-width: 60em) {
  .progress-meter {
    display: block;
  }
}

.progress-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 42px;
  left: 100%;
}

.impersonate-toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.impersonate-btn {
  background-color: #000;
  border-color: #000;
  border-radius: 0.4em 0.4em 0 0;
}

.impersonate-search {
  display: flex;
  align-items: flex-end;
}

.impersonate-search div {
  flex-grow: 1;
  margin-right: 1em;
}
